@import "./reset.css";
@import "./fonts.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: #F6F7F9;
  color: #1C2F43;
  /* background-color: red; */
  font-family: 'e-Ukraine', sans-serif;

}